<div class="jumbotron">
  <div class="container jumbotron-container">
    <%= image_tag("anything-logo.png", class:"logo") %>
    <div class="differ-content">
      <p>"What do you want to eat?", says Bob.<br>"Anything, you want", replied Sarah.<br>"I asked you, first!", replied Bob filled with annoyance.<br><span class="description-bold"><em>Sound familiar?</em> Use this app and just get anything</span></p>
    </div>
  </div>
</div>

<div class="outside container">
  <p><%= link_to "Get Anything", {controller: "restaurants"}, class: "btn btn-primary btn-lg", role: "button" %></p>
</div>
