<div class="jumbotron">
  <div class="container jumbotron-container">
    <%= image_tag("anything-logo.png", class:"logo") %>
    <p>"What do you want to eat?", says Bob. "Anything, you want", replied Sarah. "I asked you, first!", replied Bob filled with annoyance.<br>Sound familiar? Use this app and just get anything</p>
  </div>
</div>

<div class="outside container">
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Anything</a></p>
</div>
