<div class="jumbotron">
  <div class="container jumbotron-container">

    <div class="differ-content result">
      <h3><strong>About This Project</strong></h3>
      <p>
        Are you not able to make up your mind about what to eat, but still love all kind of food, like me? Well this app is for you then!
        This web application was created with Ruby on Rails for the backend and javascript, jQuery and jQueryUI for the frontend.
        Also, I integrated the Yelp API for the randomization of restaurants.
        In the beginning, I wanted scale this project with a complex backend and create a social space for foodies, like me.
        However, with the limit of use of the Yelp API and my personal purpose for this project, I wanted to see what I could do within a short period of time.
        If given the chance, I would love to work with Yelp in expanding its capabilities with ideas such as this and few others!
      </p>
    </div>
  </div>
</div>
