<div class="jumbotron">
  <div class="container jumbotron-container">
    <%= image_tag("anything-logo.png", class:"logo") %>
    <div class="differ-content content-input">
      <div class="input-group input-group-lg input-zipcode">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
        <input type="text" id="zipcode-input" class="form-control" placeholder="zipcode" aria-describedby="sizing-addon1">
      </div>
    </div>
  </div>
</div>

<div class="outside container">
  <p><a class="btn btn-primary btn-lg" id='random-btn' role="button">Let's Eat!</a></p>
</div>
