.jumbotron {
  background: rgba(240,240,201,0.9);
  padding-bottom: 10px;
}

.jumbotron-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 25%;
}

.differ-content{
  margin-top: 40px;
  color: #124E78;
  font-size: 20px;
  text-align: center;
  font-family: 'EB Garamond', serif;
}

.content-input{
  margin-bottom: 50px;
  width: 300px;
}

.description-bold{
  font-size: 26px;
  font-weight: bold;
}

.outside{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  background-color: #6E0E0A;
  border: none;
  border-radius: 0;
  color: #F0F0C9;
  font-family: 'Viga', sans-serif;
  align-self: center;
}

.btn:hover{
  background-color: #6E0E0A;
  width: 150px;
}
